<div class="jumbotron">
    <div class="container">
    	<iframe frameborder="0" 
    	        scrolling="yes" 
    	        id="chat_embed2" 
    	        src="http://ball-live.com:7070/client_area/index.php" 
    	        height="550" 
    	        width="750"
    	        allowfullscreen>
    	</iframe>
    	<iframe frameborder="0" 
    	        scrolling="no" 
    	        id="chat_embed" 
    	        src="https://www.twitch.tv/centralsp/chat" 
    	        height="550" 
    	        width="300">
    	</iframe>

        <h1>About us</h1>
        <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>
</div>